
ul{
    list-style: none;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0px;
    
}

.logo {
    position: relative;
    margin-bottom: 2vh;
}

.logo-1, .logo-2 {
    position: absolute;
    top: 0;
    left: 0;
}


@media screen and (max-width: 800px) {
    ul{
        list-style: none;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;
        
    }

}


.menu {
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    left: 80% ;
}
.menu li {
    margin: 1.5%;
}

.menu li a {
    display: flex;
    color: rgb(255, 255, 255);
}
/*corpo*/
.corpo{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 14%;
}

.negrito{
    color: #152F60;
}
.body-home{
    background-color: white;
    position: sticky;
    z-index: 1;
    margin: 12vw 8vw;
    justify-content: center;
    display: flex;
}

.introducao, .publico-alvo, .justificativa, .professoras{
    margin: 2vw 8vw 6vw 8vw;
}


[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    color: black;
    font-size: 24px;
    font-weight: 500;
    word-wrap: break-word;
}

.icon{
    border-radius: 8px;
    background: #F6F6F6;
    font-size: 32px;
    padding: 4px 10px 4px 10px;
    color: #208DC5;
}

.title{
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.geral{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    color: rgb(255, 255, 255);
}

.borda-foto {
    width: 14vw;
    height: 14vw;
    overflow: hidden;
    border: 1px solid #208DC5;
}

.foto-professores {
    height: 14vw;
    object-fit: cover;
    border: 1px solid #208DC5;
    border-radius: 100%;
}

.header{
    width: 100%;
    height: 12vh;
    display: flex!important;
    background-color: #FBFBFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    align-items: center !important;
    border-bottom: 1px solid #EDF5FA;
}

a{
    color: #208DC5 !important;
}

.logo{
    text-align: center;
    width: 8vw;
    height: 32px;
}
.menu{
    display:flex;
    justify-content: flex-end !important;
    column-gap: 16px;
    margin-right: -60vw;
}
.menu-item{
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 10px 0px 0px;
    height: 72%;
}

.menu-item:hover{
    color: #000000;
    font-weight: 00;
    text-decoration: underline;
}

.iconeMenu{
    display: none;
    filter:brightness(100%);
    font-size: 32px;
    color: #000000;
    font-size: 24px;
    cursor: pointer;
    margin-left: 100%;
}

.icon-info{
    display: none;
    filter:brightness(100%);
    font-size: 24px;
    color: #000000;
    font-size: 24px;
    cursor: pointer;
}

.linha{
    width:100%;
    display:flex;
    justify-content: space-between;
    margin-bottom: 16px;
    flex-wrap: wrap;
}

#menuMobile{
    display:none;
}

@media screen and (min-width:800px){
    .profs{
        width: 10%;
        margin-right: 6vw;
    }
    .foto-professores{
        height: 10% !important;
    }

    .info-prof{
        height: 20px !important;
    }
    
}
@media screen and (min-width:320px) and (max-width:767px){  /* configura os estilos quando celular*/
    body{
        width:100%;
    }

    .geral{
        width: 100%;
        height: 8vh;
    }
    .menu{
        display:none;
    }

    .text{
    color: #000;
    text-align: justify;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

    .icone{
        margin-right: 2vw;
        font-size: 24px;
        color: #208DC5;
    }
    
    #menuMobile{
        display:flex;
        flex-direction: column;
        row-gap: 24px;
        width: 58vw;
        height: 100vh;
        position: fixed;
        left: -100%;
        top:0;
        background-color: #FBFBFF;
        color: #000000;
        z-index: 999;
        transition: 0.5s;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.16);
    }
    .close{
        padding: 4vw 0vw 4vw 8vw;
        justify-content: flex-end !important;
        font-size: 32px;
    }
    
    .close-btn{
        width:#000000;
        text-align: right;
        padding-right: 48px;
        justify-content: flex-end !important;
        cursor: pointer;
    }
    .itemMobile{
        color:#000000 !important;
        margin-left: 8vw;
        text-decoration: none;
    }

    .header{
        padding: 4px;
        display:flex;
        width:100%;
        left:0;
        top:0;
        justify-content: space-between;
        border-bottom: 1px solid #EDF5FA;
        align-items: center;
    }

    .p-copy{
        text-align: center;
        color: #e2e4e5;
        font-size: 12px;
    }

    .iconeMenu{
        display:flex;
        margin: 0px 0px 0px 0px;
        font-size: 40px !important;
        justify-content: center;
    }

    .icone-menu{
        margin-left: 3vw;
    }

    .icon-info{
        display:flex;
        margin: 0vw 14vw 0vw 0vw;
        font-size: 24px;
        justify-content: center;
    }

    .menu-transições{
        padding:24px;
        flex-direction: column;
    }
    .item-transicoes{
        width:100%;
        max-width: unset;
        margin: 48px 0px 0px 0px;
        padding: 33px 0px 40px 0px;
    }
    
    .texto,.copyright{
        width:100%;
        position: relative;
        margin:auto;
        text-align: center;
        margin-bottom: 16px;
    }
    
    .Titulo-info {
        width:100%;
        text-align: left;
    }
    .preencher{
        width:100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }
    .campo-mensagem{
        width:98%;
    }
    .linha{
        margin-bottom: 0;
    }

}

/*css ajustes*/

.title-dark{
    color: #152F60;
    font-family: 'Poppins';
    font-weight: 600;
    font-style: semiBold;
    font-size: 32px;
    margin-bottom: 5vw;
}

p{
    font-family: 'Poppins';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-align: justify;
}


.footer-text{
    color: #9A9595;
    text-align: center;
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer{
    border-top: 4px solid #152F60;
    width: 102%;
    height: 24vh;
    display: flex;
    align-items: flex-start;
    justify-content:center;
    text-align: center;
    align-items: center;
}

.logo-footer{
    margin-top: 4vh;
    margin-bottom: 5vh;
}

.copyRight{
    margin-bottom: 8vh;
    margin-top: 2vh !important;
    color: #9A9595;
    font-family: 'Poppins';
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: Inter;
}

@media screen and (min-width: 800px) {
    
    .title-dark{
        margin-top: 3vw;
    }
    
}

/* CARROSSEL */

.carrossel{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.carousel{
    border-radius: 16px;
}
